a{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

.account_main_card{
	padding: 10px;
	padding-bottom: 20px;
	cursor: pointer;
	margin: 10px;
	padding-top: 0px;
	border-radius: 10px;
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
	box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.account_main_card .card-header{
	//padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
	font-weight: 700;
}
.account_main_card .card-price{
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:xx-large;
	font-weight: 700;
	color:#0176d3;
}
.account_card_heading{
	/*font-size: 15px;*/
	padding: 10px;
	text-align: center;
	font-weight: bolder;
}

.account_card_content{
	padding-top: 40px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}









.slideLeftBtn{
	position:absolute;
    left:5px;
    top:calc(100% - 80%);
}

.slideRightBtn{
	position:absolute;
    right:5px;
    top:calc(100% - 80%);
}

.slider{
	display: flex;
	justify-content: center;
}

div.scrollmenu {
	max-width: 80vw;
	scroll-behavior: smooth;
  	overflow: auto;
  	white-space: nowrap;
	  background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
div.scrollmenu::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
div.scrollmenu {
  	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

.slider .scrollmenu span {
	display: flex;
	justify-content: center;
	align-items: center;
  	display: inline-block;
  	text-align: center;
  	padding: 14px;
}